
@using Microsoft.AspNetCore.Identity
@using QueryBuilder.Client.Services.Interfaces
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject IClient client;
@if (SignInManager.IsSignedIn(User)&&client.IsAutenticate)
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="" asp-controller="Entity" asp-action="Index">Entity</a></li>
        <li><a asp-area="" asp-controller="Entity" asp-action="Apps">Apps</a></li>
        <li><a asp-area="" asp-controller="Entity" asp-action="Query">Query</a></li>
        <li>
            <a asp-area="Identity" title="Manage">Hello @UserManager.GetUserName(User)!</a>
        </li>
        <li><a asp-area="" asp-controller="Account" asp-action="Logout">Logout</a></li>
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        @*<li><a asp-area="Identity" asp-page="/Account/Register">Register</a></li>*@
        <li><a asp-area="Identity" asp-controller="Account" asp-action="Login">Login</a></li>
    </ul>
}