@using QueryBuilder.Client.Models
@{
    ViewData["Title"] = "Apps";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Apps</h2>

@for (int i = 0; i < ViewBag.apps.Count; i++)
{
    var app = (Entity)ViewBag.apps[i];
    <h2>@Html.ActionLink(app.Alias,"Edit",new { id=app.RealName})</h2>
    <table class="table table-sm table-striped table-bordered">
        <thead>
            <tr>
                @{

                    <th>nombre</th>
                    <th>tipo</th>
                }
            </tr>
        </thead>
        <tbody>
            @{
                for (int j = 0; j < app.atributes.Count; j++)
                {
                    <tr>

                        <th>
                            @app.atributes[j].Name
                        </th>
                        <th>
                            @app.atributes[j].Type
                        </th>

                    </tr>
                }
            }
        </tbody>
    </table>
}
